<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev.coval.pr-review-queue</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/bronson/bin/cow-routine-run.sh</string>
		<string>pr-review-queue</string>
		<string>--log</string>
		<string>/Users/bronson/.coval/logs/pr-review-queue.log</string>
		<string>--</string>
		<string>/bin/zsh</string>
		<string>/Users/bronson/coval/scripts/pr-review-queue.sh</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/bronson</string>
		<key>PATH</key>
		<string>/Users/bronson/.local/bin:/opt/homebrew/bin:/Applications/Docker.app/Contents/Resources/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>SessionCreate</key>
	<true/>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/Users/bronson/.coval/logs/pr-review-queue.launchd.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/bronson/.coval/logs/pr-review-queue.launchd.err.log</string>
</dict>
</plist>
